body {
    width: 300px;
    text-align: center;
}

h1 {
    font-size: 18px;
}

.bookmark {
    margin: 4px;
    display: flex;
    justify-content: space-between;
}

input {
    text-align: center;
    width: 200px;
}

img {
    cursor: pointer;
}

button {
    border-radius: 5px;
    cursor: pointer;
}

